*{
    margin:0 0 0 0;
    
    /* background-color: rgb(246, 244, 243); */
    font-family: San -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
        background-color: rgb(246, 244, 243);

}
#nameContainer{
     /* border: 2px red solid; */
     height: 100vh;
     /* position: absolute; */
     display: flex;
     justify-content: center;
     align-items: center;
     padding-right:20vw;
}

#name{
 
    font-size: 60px;
    color:rgb(42, 46, 45);

}
a{
    text-decoration: none;
    color: rgb(42, 46, 45)
}
#navigation {
    
    /* margin-top: 35vh; */
    /* margin-bottom: 20vh; */
    height:100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: blue;
    /* z-index: 2; */
    /* border: 1px red solid; */
}

#navUl{
    
    display:block;
    position:fixed;
    font-weight: 600;
    font-size: 35px;
    list-style: none;
    padding:0 0 0 0;
    /* height:90px; */
    margin: 0 0 100vh 0;
    /* border: 1px red solid; */
    
}

.navBtns{
    /* border: 2px red solid; */
    color: rgb(42, 46, 45);
    /* position:s; */
    display: flex;
    justify-content: end;
    align-items:center;
    
    margin: 10px 0px 10px 0px;
    
    padding:0 10px 0 25px;
    border-right: 5px rgba(52, 52, 250, 0) solid;
}

.navBtns:hover{
    /* border-right: 5px rgb(39, 111, 191) solid; */
    /* background-color: rgba(131, 131, 247, 0.091); */
    /* background-image: linear-gradient(to right, red , yellow); */
    /* border-radius: 2px; */

}
#container{
    /* color:white; */
    display: flex;
    justify-content:center;
   /* padding-left: 10vw; */
    /* padding-left: 30vw; */
    /* border:2px red solid; */
    /* background-color: rgb(0, 94, 255); */

      /* background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(53, 201, 255)); */

}
.about{
    /* border:1px rgb(181, 181, 181) solid; */
    box-shadow: 1px 7px 18px rgb(191, 191, 191);
    color:rgb(255, 255, 255);
    position:relative;
    padding: 28px 28px 38px 28px;
    border-radius: 20px;
    /* background-color: rgb(210, 210, 210); */
    height: fit-content;
    /* width: 30vw;  */
     /* padding: 20vh 10vw 5vh 15vw; */
    margin-top: 25vh;
    /* margin-left: 10vw; */
    /* margin-right: 10vw;  */
    /* box-shadow: 1px 3px 5px rgb(216, 216, 216); */
    margin-bottom: 30vh;
    overflow:visible;
    background-image: linear-gradient(to right, rgb(130, 176, 255) , rgb(16, 185, 247));
        /* background-image: linear-gradient(to right, rgba(255, 249, 224, 0.988) , rgb(240, 195, 45)); */

    /* border:1px rgb(216, 216, 216) solid; */
    
    /* border-radius: 15px; */
   
}
.about h3{
    /* border: 1px red solid; */
    text-align: start;
    border-radius: 13px;
    font-size: 39px;
    padding: 13px 12px 13px 13px
}
.para {
    /* position:absolute; */
    /* background: -webkit-linear-gradient(rgb(109, 109, 109), rgb(0, 80, 201)); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
    font-size: 20px;
    font-weight: 600;
    /* color: rgb(34, 34, 34); */
    text-align: justify;
    
    padding: 0px 13px 19px 13px;
    /* text-align:start; */
    width:40vw;
    height: fit-content;
    border-radius: 15px;
    /* margin-bottom: 10px; */
    /* margin: 100vh 0vw 0vh 0vw; */
    /* background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(53, 201, 255)); */
}





#projectsDiv{
    display: block;
    height: 30vh;
    justify-content: start;
    padding-left: 19vw;
    /* padding-left:15vw; */
    /* border: 2px red solid; */
}

#projectsDiv h3{
    padding-top: 70px;
    text-align: start;
    margin-top: 10vh;
    /* border-bottom: 6px black solid; */
    font-size: 55px;
    width: fit-content;
    /* border: 2px red solid; */
    margin-bottom: 9vh;
}
#projectsDiv h1{
    margin-top:19vh;
    font-size: 30px;
    width: 150px;
    /* margin-right: 30vw; */
    /* border: 2px red solid; */

}
#projectsDiv p{
    /* text-align: justify; */
    font-size: 20px;
    font-weight: 600;
    width: 250px;
    margin-bottom: 3vh;
    /* border: 2px red solid; */

}
#projectsContainer{
    display: block;
    height: 30vh;
    /* border: 2px red solid; */

}
#imgContainer{
    /* z-index: -1; */
    margin-left:50vw;
    /* overflow: hidden; */

}
#imgSc{
    /* border:3px red solid; */
    /* position:static; */

    bottom: 40vh;
    left: 28vw;
    height: 35vh;
    /* margin-left: 20vw; */
    margin-bottom: 28vh;
    padding: 25px;
    background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(53, 201, 255));
    border-radius: 40px;
    box-shadow: 1px 13px 18px rgb(191, 191, 191);

}

#liveDemoBtn{
    padding: 13px;
    font-size: 15px;
    color:white;
    font-weight: 700;
    border-radius: 20px;
        box-shadow: 2px 3px 5px rgb(216, 216, 216);

    margin-top: 60px;
    /* border: 2px rgba(0, 0, 255, 0) solid; */
    /* z-index: 2; */
    background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(32, 130, 165));

}
#liveDemoBtn:hover{
    box-shadow: 1px 3px 5px rgb(216, 216, 216);

    outline: 2px solid rgb(11, 60, 255);
    border-radius: 17px;
    outline-offset: 2px;
    /* border: 2px rgb(48, 247, 121) solid; */
    background-color: rgba(0, 0, 0, 0);
    
}
#resumeBtn:hover{
    outline: 2px solid rgb(39, 162, 160);
    outline-offset: 2px;
    /* border: 2px rgb(48, 247, 121) solid; */
    background-color: rgba(0, 0, 0, 0);
    
}
#resumeBtn{
    position:absolute;
    padding:9px;
    font-size: 13px;
    color:white;
    font-weight: 700;
    border-radius: 12px;
   margin:20px 20px 20px 20px;
    /* border: 2px rgba(0, 0, 255, 0) solid; */
    /* z-index: 2; */
    background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(65, 141, 189));

}

.contactDiv{
    /* background-color: rgb(237, 237, 237); */
    margin-top: 30vh;
   margin-bottom: 70px;
    font-size: 30px;
    color:rgb(42, 46, 45);
    display: block;
    text-align: center;
    /* justify-content:center; */
    /* border: 2px red solid; */
    height:13vh;
    /* display: flex; */
    /* justify-self: end; */
    /* margin-right: 20vh; */
    /* width:  */
}
.contactDiv p{
    /* display: block; */
    
height: fit-content;
position: static;
height: 30ch;
}

i{
    margin-left:12px;
    margin-bottom:1px;

  font-size: 50px;
}
#iconsForContact{
    
    display: block;
    /* border: 2px red solid; */
}
.class{
    
    background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(65, 141, 189));
    width: fit-content;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20vh;
}
.email{
     /* font-size: 20px; */
    color:rgb(42, 46, 45);
    display: flex;
    justify-content: center;
    margin-bottom: 40vh;
    font-weight: 700;
    font-size: 30px;
}
.contactMeIcon{
    height:30px;
    width: 30px;

}
#githubDemo{
    /* box-shadow: 1px 3px 5px rgb(216, 216, 216); */

   padding-top: 30px;
   height: 30px;
   margin-left: 180px;
   position:relative;
  top: -34px;
  left: -10px;
  color:rgb(29, 137, 176);
}